@typeparam T

@if (table?.Items is not null && table?.Columns is not null)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var col in table.Columns)
                {
                    <th>@col.Header</th>        
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in table.Items)
            {
                <tr>
                    @foreach (var col in table.Columns)
                    {
                        <td>@col.Value(item)</td>        
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public TableDefinition<T>? table { get; set; }

}
