@page "/admin/bets"

@inject IBetsDataService BetsDataService

<PageTitle>Hawks Nest Golf - Bets</PageTitle>

<h3>Bets</h3>


@if (items is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ItemsTable Items=@items Columns=@columns />
}

@code {

    private IList<ColumnDefinition<Bet>> columns = new List<ColumnDefinition<Bet>>
    {
        new ColumnDefinition<Bet> { Header = "Id", Value = x => x.Id},
        new ColumnDefinition<Bet> { Header = "Name", Value = x => x.Name},
        new ColumnDefinition<Bet> { Header = "Default Amount", Value = x => x.DefAmount}
    };

    private IList<Bet>? items { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await BetsDataService.GetAll();
        if (apiResponse.Success)
        {
            items = apiResponse.Data;
        }
    }
}
