@page "/admin/bets"

@inject IBetsDataService BetsDataService

<PageTitle>Hawks Nest Golf - Bets</PageTitle>

<h3>Bets</h3>


@if (table is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ItemsTable table=@table />
}

@code {

    private TableDefinition<Bet>? table = null;

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await BetsDataService.GetAll();
        if (apiResponse.Success)
        {
            table = new TableDefinition<Bet>(Columns, apiResponse.Data);
        }
    }

    private IList<ColumnDefinition<Bet>> Columns => new List<ColumnDefinition<Bet>>
        {
            new ColumnDefinition<Bet> { Header = "Id", Value = x => x.Id},
            new ColumnDefinition<Bet> { Header = "Name", Value = x => x.Name},
            new ColumnDefinition<Bet> { Header = "Default Amount", Value = x => x.DefAmount}
        };
}
