@page "/admin/players"

@inject IPlayersDataService PlayersDataService

<PageTitle>Hawks Nest Golf - Players</PageTitle>
<h3>Players</h3>

@if (table is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ItemsTable table=@table />
}

@code {
    private TableDefinition<Player>? table { get; set; } = null;


    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await PlayersDataService.GetAll();
        if (apiResponse.Success)
        {
            table = new TableDefinition<Player>(Columns, apiResponse.Data);
        }
    }

    private IList<ColumnDefinition<Player>> Columns => new List<ColumnDefinition<Player>>
        {
        new ColumnDefinition<Player> { Header = "Id", Value = x => x.Id},
        new ColumnDefinition<Player> { Header = "Name", Value = x => x.Name ?? ""},
        new ColumnDefinition<Player> { Header = "Email", Value = x => x.Email ?? ""},
        new ColumnDefinition<Player> { Header = "Email2", Value = x => x.Email2 ?? ""}
        };



}
