@page "/admin/tournaments"

@inject ITournamentsDataService TournamentsDataService

<PageTitle>Hawks Nest Golf - Tournaments</PageTitle>

<h3>Tournaments</h3>

@if (items is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ItemsTable Items=@items Columns=@columns />
}

@code {
    private IList<ColumnDefinition<Tournament>> columns = new List<ColumnDefinition<Tournament>>
    {
        new ColumnDefinition<Tournament> { Header = "Id", Value = x => x.Id},
        new ColumnDefinition<Tournament> { Header = "Name", Value = x => x.Name}
    };

    private IList<Tournament>? items { get; set; } = null;


    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await TournamentsDataService.GetAll();
        if (apiResponse.Success)
            items = apiResponse.Data;
    }
}
