@page "/admin/tournaments"

@inject ITournamentsDataService TournamentsDataService

<PageTitle>Hawks Nest Golf - Tournaments</PageTitle>

<h3>Tournaments</h3>

@if (table is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ItemsTable table=@table />
}

@code {
    private TableDefinition<Tournament>? table { get; set; } = null;


    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await TournamentsDataService.GetAll();
        if (apiResponse.Success)
        {
            table = new TableDefinition<Tournament>(Columns, apiResponse.Data);
        }
    }

    private IList<ColumnDefinition<Tournament>> Columns => new List<ColumnDefinition<Tournament>>
        {
            new ColumnDefinition<Tournament> { Header = "Id", Value = x => x.Id},
            new ColumnDefinition<Tournament> { Header = "Name", Value = x => x.Name}
        };


}
